*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Space Grotesk';
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #151515;

}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: white;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 375px;
  padding-inline: 16px;
  position: relative;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0.0001) 20%, #242424 100%);
  width: 174px;
  height: 360px;
  margin: 0 auto;
  margin-bottom: 40px;
}


.socialsNPP:last-child {
  width: 174px;
  height: 242px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 49px;
}

h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.3333333432674408px;
  text-align: left;

}


.back {
  position: absolute;
  top: 130px;
  z-index: -1;
  left: 0;
}

.backOval {
  position: absolute;
  right: -16px;
  top: 235px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.1363636255264282px;
  text-align: center;

}

span {
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  ;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;

}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.2857143878936768px;
  text-align: left;

}

.contact {
  height: 38px;
  border-bottom: 1px solid #4EE1A0;
  width: max-content;
  margin: auto;
}

.context {
  display: grid;
  gap: 24px;
  margin-bottom: 80px;
}

.skills {
  display: grid;
  gap: 20px;
  padding-top: 40px;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  margin-bottom: 40px;

}

.skills svg {
  transition:  .5s;
  width: 120px;
  height: 120px;
  margin: auto;

}

.skills svg:hover {
  transform: scale(1.2);
}

.backOvalRight {
  position: absolute;
  right: -16px;
  z-index: -1;
}

.projects {
  margin-bottom: 50px;
  padding-top: 80px;
  border-top: 1px solid rgb(255, 255, 255, 0.3);

}

.project img {
  width: 343px;
  height: 253px;
  margin-bottom: 20px;
}

.projectLinks {
  display: inline;
  padding-bottom: 10px;
  border-bottom: 1px solid #4EE1A0;

}



.projects h2 {
  text-align: left;
  margin-bottom: 40px;

}

.project {
  margin-bottom: 20px;

}

footer {
  padding-top: 39px;
  border-top: 1px solid rgb(255, 255, 255, 0.3);

}

footer h4 {
  text-align: center;
}

.projectsTitle > a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.2857143878936768px;
  height: 38px;
  border-bottom: 1px solid #4EE1A0;
}

.projectsTitle {
  display: flex;
  justify-content: space-between;
}

.leftOvalDesk {
  display: none;
}

.backOvalDesk {
  display: none;
}

.rightovalDesk {
  display: none;
}

.project p {
  text-transform: uppercase;
}

@media ( width >= 768px ) {
  .container {
    width: 768px;
    padding-inline: 16px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    background: none;
    align-items: baseline;
    margin-bottom: 296px;
  }

  .socialsNPP {
    background-color: #242424;
  }

  .socialsNPP:last-child {
    width: 350px;
    height: 486px;
  }

  .context {
    float: left;
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 16px;

  }

  .context h2 {
    width: 445px;
    font-size: 68px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2.045454502105713px;
    text-align: left;
    margin-bottom: 60px;

  }
  .mobile {
    display: none;
  }

  .contact {
    margin: 0;
  }


  .socialsNPP:last-child {
    margin-inline: -30px;
    padding-top: 30px;
    margin-top: -20px;
  }

  .backOval {
    top: 400px;
  }

  .skillsImg {
    display: flex;
  }

  .skills h2 {
    text-align: left;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -2.045454502105713px;
    margin-bottom: 60px;
  }

  .projects {
    border: none;
  }


  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px 24px;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .socials {
    margin-bottom: 15px;
  }

  .projectsTitle h2 {
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -2.045454502105713px;
    margin-bottom: 60px;
  }

  .project p {
    text-align: left;
  }

  .project > p:nth-child(3) {
    margin-bottom: 20px;
  }


}


@media (width >= 1440px) {

  .container {
    width: 1110px;
    margin: 0 auto;
  }

  .back {
    display: none;
  }

  .backOvalRight {
    display: none;
  }

  .backOval {
    display: none;
  
  }

  .leftOvalDesk {
    display: block;
    position: absolute;
    left: -400px;
    top: 150px;
  }


  header  {
    width: 1110px;
    padding-top: 0;
    margin-bottom: 450px;
  }

  .socialsNPP:last-child {
    width: 430px;
    height: 618px;
    margin: 0;
  }

  .socialsNPP .socials {
    justify-content: end;
    padding-right: 30px;
  }



  .projects {
    width: 1110px;
  }
  
  .project img {
    width: 540px;
    height: 400px;
  }

  .projectsGrid {
    gap: 69px 30px;
  }

  .links {
    display: none;
    position: absolute;
    z-index: 2;
    top: 151px;
    left: 183px;
    text-align: center;

  }

  .skills {
    width: 1110px;
  }
  

  .project:hover img {
    opacity: 20%;
  }

  .project {
    position: relative;
    z-index: 1;
     }
  
  .project:hover .links {
    display: grid;

  }

  .contact a:hover {
    color: #4EE1A0;
  }

  a:hover {
    color: #4EE1A0;
  }



}